html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.clearfix {
  overflow: auto;
}

/*...........................header.....................*/

header{
  background-color:beige;
  text-align: center;
  display:block;
  font-family: 'Fahkwang', sans-serif;
  margin: auto;

}
/**********NAV*********/

.containernav h1{
  color:purple;
}
a{
  text-decoration: none;
  color:grey;
  margin-right: 5em;
}
nav{
  margin-bottom:2em;
}



#invisible{
  display:none;
  background-color: beige;
}
#invisibles{
  display:none;
  background-color:beige;
}
/***nav color items****/
i{
 margin-right:1em;
}

.fa-facebook{
  color:#395994;
}
.fa-twitter{
  color:#009fee;
}
.fa-linkedin{
  color:#0076b1;
}
span{
  color:red;
}
/*.........................MAIN...........................*/



/*..........SECTION COLOR...........*/



a#col1 
{
  float: left;
  width: 260px;
  margin: 0;
  padding: 0;
  border: 1px opacity #000;
  border-radius:5px;
  background:#72616d;
  min-height:90vh;
}

#col1:hover{
background-colo:#696;
}

a#col3 
{
  float: right;
  width: 256px;
  margin: 0 5px 0 0;
  padding: 0;
  border: 1px opacity #000;
  border-radius:5px;
  background:#eb846c;
  min-height:90vh;
}

#col3:hover{
background-coloryellow;
}

div#col2
{ 
  margin:0,200px,0,200px;
  padding: 0;
  border: 1px opacity #000;
  border-radius:5px;
  background:#0c528b;
  min-height:90vh;
}
div#col2:hover{
background-colo:red;
}



.clear{
  clear:both;
}










/* ............ footer .......................*/ 

            /******form toggle*******/
 #toggle{
  height:auto; background:#eee;  
  margin:1em;
  text-align:center;
}
#toggle p{
  text-align:center;
  padding:0;
}


footer{
  text-align: center;
}
form {
  
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid;
  border-radius:1em;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {

  font: 1em sans-serif;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid;
}

input:focus, textarea:focus {
  border-color:black;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left:5em;
}
#click{
  margin-top:1em;
  border-radius:3em;
}
