html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}


div {
  box-sizing: border-box;
}

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: calc(250px + 1px);
  max-height: 750px;
  margin: 0;
  padding-top: 1px;
  background:grey;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform: rotate(-90deg) translateY(-250px);
          transform: rotate(-90deg) translateY(-250px);
         /* applique une rotation de tout la div de haut en bas*/
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
.horizontal-scroll-wrapper > div {
  display: block;
  padding: 5px;
  background:yellow;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: right top;
          transform-origin: right top;
          /* applique une rotation de tout la div qui reste en mode horizontale mais qui est a 90°*/
}

.squares {
  padding: 250px 0 0 0;
  /*les diffrents fenetres*/
}
.squares > div {
  width: 250px;
  height: 250px;
  margin: 100px 0;
}